* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; 
}

.add-button {
  margin: 2rem;

  display: grid;
  place-items: center;
}

.book-list {
  display: grid;
  /* grid-template-columns:  repeat(auto-fill, minmax(30rem, min-content)); */
  grid-template-columns:  repeat(auto-fill, minmax(min-content, 33%));
  gap: 2rem;
}

.book {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem;

  display: grid;
}

.book > h1 {
  font-size: 3rem;
  font-weight: bold;
}
