* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; 
}

.container {
  display: grid;

  position: relative;
}

.add-button {
  margin: 2rem;

  display: grid;
  place-items: center;
}

.add-button > button {
  padding: 2rem 3rem;
  height: auto;

  font-size: 2rem;

  display: grid;
  place-items: center;
}

.book-list {
  display: grid;
  justify-content: center;
  grid-template-columns:  repeat(auto-fill, minmax(min-content, 30%));
  gap: 2rem;
}

.book {
  border: 1px solid rgb(187, 187, 187);
  border-radius: 0.7rem;
  padding: 1rem;

  display: grid;
}

.book > h1,
.add-book-popup > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.add-book-popup {
  visibility: hidden;
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 0.7rem;
  padding: 1rem;

  max-height: 30rem;
  max-width: 50rem;

  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.add-book-popup.visible {
  visibility: visible;
}

.add-book-popup > h1 {
  margin: 0;
}

.add-book-popup > form {
  margin: 1rem 0;

  display: grid;
  grid-template-rows: repeat(5, min-content);  
  grid-template-columns: 1fr 3fr;
}

.add-book-popup > form > label {
  margin-right: 1rem;
  margin-bottom: 0;

  justify-self: right;
  align-self: center;
}

.add-book-popup > form > input {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.add-book-popup > form > div {
  grid-column: span 2;

  display: grid;
  grid-template-columns: 15fr 1fr;
  justify-items: end;
  align-items: center;
}

.add-book-popup > form > div > * {
  margin-bottom: 1rem;
}

.add-book-popup > form > div > input {
  justify-self: center;
}

.add-book-popup > form > button {
  margin: 0;

  grid-column: span 2;
  justify-self: center;
}

